# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*/scrape_regressor.py



../desktop.ini
.claude/
nul
src/components/AuroraBackground.js
src/components/BgVariantA.js
src/components/BgVariantC.js
src/components/BgVariantD.js
src/components/BgVariantE.js
src/components/BgVariantF.js
src/components/BirdCanvas.js
src/components/GravityWellsBackground.js
src/components/MeshGridB.js
src/components/MeshGridBackground.js
src/components/MeshGridC.js
src/components/PaperCanvas.js
src/components/ParticleFieldB.js
src/components/ParticleFieldBackground.js
src/components/ParticleFieldC.js
src/components/ReactiveShaderBackground.js
src/pages/BgDemo.js
src/utils/boids.js
src/utils/paperMesh.js
src/utils/paperRenderer.js